<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mvgv70.gpsaccuracy"
    android:versionCode="101"
    android:versionName="1.0" >
    
    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposedminversion"
            android:value="30" />
        <meta-data
            android:name="xposeddescription"
            android:value="set gps Accuracy to constant value (5 meters)" />
        
    </application>
    
</manifest>
